@{
    ViewBag.Title = "Πληροφορίες";
}
<header class="text-left masthead" style="background: #dfe0d9;height: 822px;">
    <div class="container text-left" style="background: #dfe0d9" >
        <div class="text-left intro-text" style="font-family: 'Alegreya SC', serif;font-size: 93px;height: 600px;width: 919px;padding: 67px;">
            <div class="row align-items-center" style="height: 624px;width: 995px;">
                <div class="col-md-8" style="margin-top: 73px;width: 872px;background: #d6d4d2;">
                    <h1 style="font-weight: 600;color: rgb(136,137,139);font-family: 'Roboto Slab', serif;">Σχετικά με εμάς</h1>
                    <p style="font-family: Montserrat, sans-serif;font-size: 17px;color: var(--dark);width: 610px;text-align: left;"><br />Το Book Store 2.0 αποτελεί ένα απο τα πρώτα εργαλεία διαχείρισης των δεδομένων των βιβλιοπωλείων παγκοσμίως. Οι δυνατότητες επεξεργασίας, προσθήκης ή και διαγραφής διάφορων ειδών δεδομένων, όπως πληροφορίες συγγραφέων, συγγραμμάτων, εκδοτικών οίκων, βιβλιοπωλείων, προσφορών, υπαλλήλων και θέσεων εργασίας, είναι μια από τις πολλές δυνατότητες που σας προσφέρονται.<br /><br />Επίσης, έχετε τη δυνατότητα να αναζητήσετε τους συγγραφείς με τις περισσότερες πωλήσεις σε συγκεκριμένο χρονικό διάστημα ή διαχρονικά ή και αυτών με τις χειρότερες επιδόσεις.<br /><br />Τέλος, υπάρχει η δυνατότητα να εντοπίσετε οποιαδήποτε παραγγελία ή να περιορίσετε τα αποτελέσματα με βάση το χρονικό διάστημα ή και την επωνυμία του καταστήματος.<br /><br /></p>
                    <div class="getting-started-info"></div>
                </div>
                <div class="col-md-4" style="height: 300px;width: 300px;"><img class="img-thumbnail" src="/assets/img/bookstore_about_us_image.png" style="width: 319px;height: 240px;color: rgba(255,255,255,0);background: transparent;" /></div>
            </div>
        </div>
    </div>
</header>

